register {
  font-family: "Roboto";
  width: 100%;
  margin-left: 80px;
  margin-right: 80px;
}

login {
  font-family: "Roboto";
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.continue {
  width: 100%;
  background-color: rgb(0, 162, 255);
  color: white;
  font-family: 'Roboto';
  box-shadow: 0 10px 40px -10px rgb(0 162 255 / 50%);
}

.continue:disabled {
  width: 100%;
  background-color: rgb(231, 231, 231);
  color: white;
  font-family: 'Roboto';
  box-shadow: 0 10px 40px -10px rgb(231 231 231 / 50%);
}

mat-toolbar {
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
  a {
    text-decoration: none;
    margin-right: 5px;
  }
  padding-left: 10%;
  padding-right: 10%;
  z-index: 1000;
  position: sticky;
  position: -webkit-sticky; /* For macOS/iOS Safari */
  top: 0; /* Sets the sticky toolbar to be on top */
}
@media screen and (max-width: 884px) {
  mat-toolbar {
    padding-left: 2.5%;
    padding-right: 2.5%;
  }
}

@media screen and (max-width: 884px) {
  mat-grid-tile {
    height: 80%;
    //background-image: url("https://images.unsplash.com/photo-1525096474392-42fb774cbc70?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60");
   // background-repeat: no-repeat;
   // background-size: cover;
  }
  mat-tab-group {
      background-color: white;
      width: 100%;
  }
}

.coverImg {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.auth_container {
  height: 100%;
}
