<h1>Centro de Distribución</h1>
<app-warehouse></app-warehouse>
<button mat-raised-button color="primary" style="float: right">
  Agregar Centro de Distribución
</button>
<mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>


<div style="width: 100%; height: 100%;">
  <div style="display: inline-flex; width: 100%; height: 100%;">
    <div style="width: 65%; height: 100%;">
      <div id="containerMap">
        <div #mapbox id="mapbox" class="fadeIn"></div>
      </div>
    </div>
    <div style="background: white; height: 700px; overflow-y: scroll; padding: 40px 20px; width: 35%; display: block;">
      <button mat-button color="primary" style="width: 100%" (click)="save()">
        Guardar
      </button>
      <div *ngFor="let form of forms; let i = index" style="display: block">
        <form [formGroup]="form" *ngIf="questions != null">
          <div class="form-row" style="
              max-width: 400px;
              display: block;
              margin-left: auto;
              margin-right: auto;
              
              padding: 10px;
            ">
            <h3>{{ questions[i].title }}</h3>
            <app-question *ngFor="let q of questions[i].questions" [question]="q" [form]="form" [idx]="0"
              [ngClass]="questions[i].key ? 'time' : 'normal' ">
            </app-question>
          </div>
        </form>
      </div>

    </div>
  </div>
</div>

<app-time (onFormSave)="saveFormData($event)" *ngIf="(warehouse$ | async); let warehouse"
  [schedule]="warehouse.schedule"></app-time>