<h1>Usuarios</h1>
<mat-form-field class="example-full-width" appearance="fill">
  <mat-label>Buscar</mat-label>
  <input matInput placeholder="Buscar" [formControl]="searchForm" />
  <mat-icon matSuffix>search</mat-icon>
</mat-form-field>
<app-warehouse></app-warehouse>

<mat-tab-group (selectedTabChange)="changedTab($event)" style="width: 100%">
  <mat-tab label="General"></mat-tab>
  <mat-tab label="Driver"></mat-tab>
  <mat-tab label="Zone-Admin"></mat-tab>
  <mat-tab label="Admin"> </mat-tab>
</mat-tab-group>

<mat-list role="list" style="overflow: scroll; margin-bottom: 40px; height: 500px">
    <mat-list-item role="listitem" *ngFor="let user of (users$ | async)">
        <div style="width: 100%;">
            <div style="width: 100%; display: flex;">
                <span>Usuario: {{user.name}}</span>
                <span class="example-spacer"></span>
                <div *ngIf="user.role" style="background: rgba(100, 148, 237, 0.274); padding: 5px; border-radius: 5px;">
                    <span style="color: cornflowerblue;">{{user.role}}</span>
                </div>
                <button mat-flat-button >
                    Editar Role
                </button>
            </div>
            <div style="width: 100%; padding: 10 0px;">
                <!-- <p>Cliente: {{order.shipping.name}}</p> -->
            </div>
        </div>
    </mat-list-item>
</mat-list>