<mat-progress-bar
  *ngIf="loading === true"
  mode="indeterminate"
></mat-progress-bar>

<form [formGroup]="form" *ngIf="questions != null">
  <div
    class="form-row"
    style="
      max-width: 400px;
      display: flex;
      height: fit-content;
      flex-flow: wrap;
      margin-left: auto;
      margin-right: auto;
    "
  >
    <app-question
      *ngFor="let q of questions.questions"
      [question]="q"
      [form]="form"
      [idx]="0"
      (fileUpload)="setImage($event)"
    >
    </app-question>
    <button mat-button [disabled]="form.invalid" (click)="productFunction()">
      Guardar
    </button>
  </div>
</form>
