<mat-toolbar style="background-color: #f70486; color: white; font-size: 3.5vh">
  <span>PRTY.</span>
  <span class="example-spacer"></span>
</mat-toolbar>
<mat-drawer-container class="example-container">
  <mat-drawer mode="side" opened>
    <mat-list role="list">
      <mat-list-item
        role="listitem"
        *ngFor="let item of menuContainer"
        [routerLink]="item.route"
      >
        <button mat-button>{{ item.name }}</button>
      </mat-list-item>
      <mat-list-item
        role="listitem"
        routerLink="users"
        *ngIf="role && role == 'admin'"
      >
        <button mat-button>Usuarios</button>
      </mat-list-item>
    </mat-list>
    <button
      mat-button
      color="warn"
      style="position: absolute; bottom: 100px; width: calc(100% - 40px)"
      (click)="signOut()"
    >
      Cerrar Sesion
    </button>
  </mat-drawer>
  <mat-drawer-content class="example-container">
    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>
