<h1>Anuncios</h1>
<mat-form-field class="example-full-width" appearance="fill">
  <mat-label>Buscar</mat-label>
  <input matInput placeholder="Buscar" [formControl]="searchForm" />
  <mat-icon matSuffix>search</mat-icon>
</mat-form-field>
<app-warehouse></app-warehouse>

<button
  mat-raised-button
  (click)="newQuestions()"
  color="primary"
  style="float: right"
  *ngIf="selectedWarehouse?.name === 'General'"
>
  Agregar Anuncio
</button>

<mat-tab-group style="width: 100%">
  <mat-tab label="Expirados"></mat-tab>
  <mat-tab label="Activos"></mat-tab>
</mat-tab-group>

<div
  style="
    padding: 10px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    grid-auto-rows: minmax(100px, auto);
  "
>
  <div
    style="width: fit-content; height: fit-content; display: block"
    *ngFor="let ads of data$ | async; let i = index"
  >
    <div
      style="
        height: 20px;
        margin-top: auto;
        margin-bottom: auto;
        margin-right: 10px;
      "
    >
      <p style="height: 20px; color: lightslategrey">{{ i + 1 }}</p>
    </div>
    <div
      style="
        width: 350px;
        height: 200px;
        margin-right: 20px;
        background-color: white;
        border-radius: 5px;
        overflow: hidden;
      "
    >
      <img
        style="object-fit: cover; width: 100%; height: 100%"
        [src]="ads.content_url"
      />
    </div>
    <div style="width: fit-content; margin: 10 10px; display: block">
      <p style="font-weight: 600; margin-bottom: 5px">{{ ads.title }}</p>
    </div>
    <span class="example-spacer"></span>

    <button mat-button (click)="editQuestions(ads)" style="color: #f70486; width: 100%;">
      Editar
    </button>

    <button
      mat-button
      *ngIf="selectedWarehouse?.name !== 'General'"
      (click)="deleteObj(ads)"
      style="color: #f70404;  width: 100%;"
    >
      Borrar
    </button>
  </div>
</div>
<mat-drawer #new_prod_drawer class="example-sidenav" mode="over" position="end">
  <h4>
    Agregar Anuncio
    <button
      mat-icon-button
      style="float: right"
      (click)="new_prod_drawer.toggle()"
    >
      <mat-icon>close</mat-icon>
    </button>
  </h4>
  <mat-progress-bar
    *ngIf="loading === true"
    mode="indeterminate"
  ></mat-progress-bar>

  <form [formGroup]="form" *ngIf="questions != null">
    <div
      class="form-row"
      style="
        max-width: 400px;
        display: block;
        margin-left: auto;
        margin-right: auto;
      "
    >
      <app-question
        *ngFor="let q of questions.questions"
        [question]="q"
        [form]="form"
        [idx]="0"
        (fileUpload)="setImage($event)"
      >
      </app-question>
      <app-warehouse></app-warehouse>
    </div>
    <button
      mat-button
      [disabled]="form.invalid"
      (click)="objectAction('create', new_prod_drawer)"
    >
      Guardar
    </button>
  </form>
</mat-drawer>

<mat-drawer
  #edit_prod_drawer
  class="example-sidenav"
  mode="over"
  position="end"
  style="margin-bottom: 40px; overflow-y: scroll"
>
  <h4>
    Editar Anuncio
    <button
      mat-icon-button
      style="float: right"
      (click)="edit_prod_drawer.toggle()"
    >
      <mat-icon>close</mat-icon>
    </button>
  </h4>
  <mat-progress-bar
    *ngIf="loading === true"
    mode="indeterminate"
  ></mat-progress-bar>

  <form [formGroup]="form" *ngIf="questions != null">
    <div
      class="form-row"
      style="
        max-width: 400px;
        display: block;

        margin-left: auto;
        margin-right: auto;
      "
    >
      <app-question
        *ngFor="let q of questions.questions"
        [question]="q"
        [form]="form"
        [idx]="0"
      >
      </app-question>

      <app-warehouse></app-warehouse>
    </div>
    <button
      mat-button
      [disabled]="form.invalid"
      (click)="objectAction('update', edit_prod_drawer)"
    >
      Guardar
    </button>
  </form>
</mat-drawer>
