<h1>Anuncios</h1>
<mat-form-field class="example-full-width" appearance="fill">
  <mat-label>Buscar</mat-label>
  <input matInput placeholder="Buscar" [formControl]="searchForm" />
  <mat-icon matSuffix>search</mat-icon>
</mat-form-field>
<app-warehouse></app-warehouse>
<mat-form-field appearance="fill" *ngIf="(selectedAdType$ | async) let selected_ad_type">
  <mat-label>Tipo de Anuncio</mat-label>
  <mat-select (valueChange)="selectAdEvent($event)" required [compareWith]="compareObjects"
      [value]="selected_ad_type">
      <mat-option *ngFor="let ad_type of tags" [value]="ad_type">
          {{ad_type}}
      </mat-option>
  </mat-select>
</mat-form-field>

<button
  mat-raised-button
  (click)="newQuestions()"
  color="primary"
  style="float: right"
>
  Agregar Anuncio
</button>

<mat-tab-group style="width: 100%" (selectedTabChange)="changedTab($event)">
  <mat-tab label="Expirados" ></mat-tab>
  <mat-tab label="Activos"></mat-tab>
</mat-tab-group>

<div
  style="
    padding: 10px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    grid-auto-rows: minmax(100px, auto);
  "
>
  <div
    style="width: fit-content; height: fit-content; display: block"
    *ngIf="data$ | async; let ads"
  >
    <app-dragable-horizontal-list
      [elements]="ads"
      (openBrandProd)="listProds($event)"
      (toggleEdit)="editQuestions($event)"
      (orderRanking)="storeOrder($event)"
      (toggleDel)="deleteObj($event)"
    ></app-dragable-horizontal-list>
  </div>
</div>

<!--New Ad Drawer -->
<mat-drawer #new_prod_drawer class="example-sidenav" mode="over" position="end">
  <h4>
    Agregar Anuncio
    <button
      mat-icon-button
      style="float: right"
      (click)="new_prod_drawer.toggle()"
    >
      <mat-icon>close</mat-icon>
    </button>
  </h4>
  <mat-progress-bar
    *ngIf="loading === true"
    mode="indeterminate"
  ></mat-progress-bar>

  <form [formGroup]="form" *ngIf="questions != null">
    <div
      class="form-row"
      style="
        max-width: 400px;
        display: block;
        margin-left: auto;
        margin-right: auto;
      "
    >
      <app-question
        *ngFor="let q of questions.questions"
        [question]="q"
        [form]="form"
        [idx]="0"
        (fileUpload)="setImage($event)"
      >
      </app-question>
      <app-warehouse></app-warehouse>
    </div>
    <button
      mat-button
      [disabled]="form.invalid"
      (click)="objectAction('create', new_prod_drawer)"
    >
      Guardar
    </button>
  </form>
</mat-drawer>

<mat-drawer
  #edit_prod_drawer
  class="example-sidenav"
  mode="over"
  position="end"
  style="margin-bottom: 40px; overflow-y: scroll"
>
  <h4>
    Editar Anuncio
    <button
      mat-icon-button
      style="float: right"
      (click)="edit_prod_drawer.toggle()"
    >
      <mat-icon>close</mat-icon>
    </button>
  </h4>
  <mat-progress-bar
    *ngIf="loading === true"
    mode="indeterminate"
  ></mat-progress-bar>

  <form [formGroup]="form" *ngIf="questions != null">
    <div
      class="form-row"
      style="
        max-width: 400px;
        display: block;

        margin-left: auto;
        margin-right: auto;
      "
    >
      <app-question
        *ngFor="let q of questions.questions"
        [question]="q"
        [form]="form"
        [idx]="0"
      >
      </app-question>

      <app-warehouse></app-warehouse>
    </div>
    <button
      mat-button
      [disabled]="form.invalid"
      (click)="objectAction('update', edit_prod_drawer)"
    >
      Guardar
    </button>
  </form>
</mat-drawer>

<mat-drawer
  #list_drawer
  class="example-sidenav"
  mode="over"
  position="end"
  style="margin-bottom: 40px; overflow-y: scroll"
>
<h4>
  Agregar Anuncio
  <button
    mat-icon-button
    style="float: right"
    (click)="list_drawer.toggle()"
  >
    <mat-icon>close</mat-icon>
  </button>
</h4>
  <div style="width: 800px">
    <app-dragrable-product-list
      (saveProdEvent)="saveProd($event)"
      (deleteProdEvent)="deleteProd($event)"
      [gen_path]="prod_path"
    ></app-dragrable-product-list>
  </div>
</mat-drawer>
