<mat-toolbar style="background-color:  #f70486; color: white; font-size: 3.5vh;">
    <span>PRTY</span>
    <span class="example-spacer"></span>
    <button mat-button class="example-icon" aria-label="Example icon-button with heart icon">
      Favoritos
    </button>
    <button mat-button class="example-icon" aria-label="Example icon-button with share icon" routerLink="/login">
      Iniciar Sesion
    </button>
  </mat-toolbar>
  
  <div style="display:inline-flex; padding: 50px 10%; background-color:  #f70486;">
    <div style="width: 40%; height: 500px;">
      <h1 style="
      font-size: 6.5vh;
      white-space: break-spaces;
      height: fit-content;
      color: white;
      line-height: 9vh;">Cerveza, Licor y más en <br> <strong style="font-weight: 900;">15 min.</strong>
      </h1>
      <button mat-flat-button class="example-icon favorite-icon" color="accent" aria-label="Example icon-button with heart icon">
        Descarga la app
      </button>
    </div>
    <div style="width: 40%; margin-left: auto;">
      <img style="width: 100%; overflow: hidden; object-fit: contain;" src="/assets/delivery.png">
    </div>
  </div>